<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if production }}
  <link rel="stylesheet" href="/public/style.css">
  {{/if}}
  <title>Horror Lex</title>
</head>
