<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> global/mainNavigation }}

    <main>
      <section class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-12 gap-6">
          <div class="col-span-7 prose-lg text-gray-300">
            <h1
              class="mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-gray-100 sm:text-4xl sm:leading-10"
            >
              What is Horror Lex?
            </h1>
            <p>
              Horror Lex launched in January 2021 as the first and only academic research site dedicated to serious
              writing about horror and horror-adjacent films. If it’s about ghosts, demons, zombies, vampires,
              black-gloved killers, exploding heads, deadly viruses, psycho grandmas, creepy kids, giant squids, or even
              killer nuns, it’s on Horror Lex.
            </p>
            <p>
              The Horror Lex database currently indexes nearly 10,000 writings – published books, articles, and online
              writings, many from university publishers and peer-reviewed journals – from nearly a thousand different
              sources. A significant number of these works is available for free online, but finding them can be
              frustrating and time-consuming.
            </p>
          </div>
          <div class="col-span-5">
            <figure>
              <div class="relative pb-7/12 lg:pb-0">
                <img
                  src="/public/img/about.png"
                  alt=""
                  width="1184"
                  height="1376"
                  class="absolute inset-0 object-cover object-center w-full h-full rounded-lg lg:static lg:h-auto"
                />
              </div>
            </figure>
          </div>
        </div>
        <div>
          <div class="prose-lg text-gray-300 lg:max-w-4xl lg:row-start-1 lg:col-start-1">
            <h3>How do I use Horror Lex?</h3>
            <p>Use a Quick Search to look for anything, fast.</p>
            <p>
              Use Advanced Search to dive in deeper. Search by year, title, publication, author, ISSN/ISBN, keyword, and
              other criteria.
            </p>
            <p>
              Use the Browse function to poke around. Horror Lex uses hundreds of specialized, horror-focused tags that
              you won’t find anywhere else, like “aquatic horror,” “orientalism,” and “Final Girl”, plus actors’ and
              directors’ names, subgenres, countries of origin, and so much more. You can browse them all. Or, do you
              have a favorite film? Browse the 4,500 horror and horror-adjacent films that are covered by the works
              indexed here, from A to Z. Sure, there’s been plenty of writing about The Exorcist (1973), but maybe
              you’re more into The Alligator People (1959) or Goremet, Zombie Chef from Hell (1986) – they’re all here.
            </p>
            <p>
              If you’re looking for guidance and want to see what Professor Lex has selected as the best of the best,
              click the “Horror Lex Recommended” box in the Advanced Search.
            </p>
            <h3>Where are the actual books, articles, etc?</h3>
            <p>
              Horror Lex does not house or own the copyright to any of the authors’ works indexed here, and so you
              cannot download them directly from the site. However, the entire purpose of Horror Lex is to direct you to
              a free, open access source whenever possible.
            </p>
            <p>
              When no free, open access source is available, Horror Lex directs you to the next best thing: Google
              Books, membership databases like JSTOR and Muse, publishers’ websites, and anywhere else you can find the
              item you’re looking for.
            </p>
            <h3>I’ve got a great horror blog/zine/self-published book. Can you add it to Horror Lex?</h3>
            <p>
              Sure…maybe! One of the benefits of using Horror Lex for your research is that, unlike just throwing search
              terms into your browser and wading through a lifetime’s worth of random blog posts, the collection of
              writings here is curated by hand. Every writing has been published by a reputable third party or an
              academic source, or, even if self-published, is of similar, thoughtful, well-researched quality. Horror
              Lex does not index industry or entertainment pieces (such as those in Rue Morgue and Cinefastique, even
              though there is great writing in those magazines – check them out on their own websites). In addition,
              Horror Lex does not index mere film reviews, unless from an industry-recognized literary or academic
              source (like Sight & Sound).
            </p>
            <p>
              In the end, however, one wolf’s trash is another wolf’s treasure, and Professor Lex errs on the side of
              including rather than excluding works.
            </p>
            <p>
              If you know of a writing about horror or horror-adjacent film that isn’t on the site, whether written by
              you or someone else, please Contact Professor Lex.
            </p>
            <h3>What else can Horror Lex do?</h3>
            <p>
              Professor Lex is eager to expand Horror Lex to provide even more features and content. Look for these new
              additions soon:
            </p>
            <ul>
              <li>Search academic theses</li>
              <li>Search conference materials</li>
              <li>Limit your search to peer-reviewed journals</li>
              <li>Search audiobooks</li>
              <li>Horror Lex Top Authors</li>
            </ul>
            <p>Have a suggestion to make Horror Lex even better?</p>
            <a href="/">Contact Professor Lex</a>
            <h3>Who is Professor Lex?</h3>
            <p>
              Professor Lupe Lex, PhD, S.L.W., is a tenured professor of English and Film Studies at an undisclosed
              university, and also a proud werewolf. Professor Lex is pleased to be your host of this site and is
              available to take your questions here.
            </p>
            <h3>Rights &amp; Credits</h3>
            <p>Horror Lex is a registered trademark of Carrie Syme</p>
            <p>Horror Lex website, Horror Lex logo, and Professor Lex artwork copyright 2020, Carrie Syme</p>
            <p>Horror Lex logo and Professor Lex artwork by David Proctor, copyright 2020, Carrie Syme</p>
            <p>Web design and development by Peter Lloyd</p>
          </div>
        </div>
      </section>
    </main>

    {{> global/mainFooter }}
    {{#env 'production' }}
      {{> script }}
    {{/env }}
  </body>
</html>
