<!DOCTYPE html>
<html>
  {{> global/head }}
  <body>
    {{> global/mainNavigation }}
    <main class="px-4 mx-auto mt-12 space-y-6 max-w-7xl sm:px-6 lg:px-8">
      <section class="flex justify-between">
        <div class="flex items-center justify-between w-full">
          <h1 class="text-3xl font-bold text-white">Browse the Horror Lex Database</h1>
          <a href="#" class="block text-lg text-primaryOrange"> Switch to category view </a>
        </div>
      </section>
      <section class="px-6 py-6 shadow-md rounded-xl bg-blackLight">
        <div>
          <h2 class="text-xl font-bold text-white">Browse Films - Alphabetically</h2>
          <div class="mt-4 space-x-3 text-white">
            <a href="/browse/a" class="text-lg font-bold text-gray-500">A</a>
            <a href="/browse/b" class="text-lg font-bold text-gray-500">B</a>
            <a href="/browse/c" class="text-lg font-bold text-gray-500">C</a>
            <a href="/browse/d" class="text-lg font-bold text-gray-500">D</a>
            <a href="/browse/e" class="text-lg font-bold text-gray-500">E</a>
            <a href="/browse/f" class="text-lg font-bold text-gray-500">F</a>
            <a href="/browse/g" class="text-lg font-bold text-gray-500">G</a>
            <a href="/browse/h" class="text-lg font-bold text-gray-500">H</a>
            <a href="/browse/i" class="text-lg font-bold text-gray-500">I</a>
            <a href="/browse/j" class="text-lg font-bold text-gray-500">J</a>
            <a href="/browse/k" class="text-lg font-bold text-gray-500">K</a>
            <a href="/browse/l" class="text-lg font-bold text-gray-500">L</a>
            <a href="/browse/m" class="text-lg font-bold text-gray-500">M</a>
            <a href="/browse/n" class="text-lg font-bold text-gray-500">N</a>
            <a href="/browse/o" class="text-lg font-bold text-gray-500">O</a>
            <a href="/browse/p" class="text-lg font-bold text-gray-500">P</a>
            <a href="/browse/q" class="text-lg font-bold text-gray-500">Q</a>
            <a href="/browse/r" class="text-lg font-bold text-gray-500">R</a>
            <a href="/browse/s" class="text-lg font-bold text-gray-500">S</a>
            <a href="/browse/t" class="text-lg font-bold text-gray-500">T</a>
            <a href="/browse/u" class="text-lg font-bold text-gray-500">U</a>
            <a href="/browse/v" class="text-lg font-bold text-gray-500">V</a>
            <a href="/browse/w" class="text-lg font-bold text-gray-500">W</a>
            <a href="/browse/x" class="text-lg font-bold text-gray-500">X</a>
            <a href="/browse/y" class="text-lg font-bold text-gray-500">Y</a>
            <a href="/browse/z" class="text-lg font-bold text-gray-500">Z</a>
          </div>
        </div>
        <!-- Gotta hook this bad boi up -->
        <p class="mt-8 mb-2 text-sm text-gray-600">Showing 200 entries</p>

        <div class="grid grid-cols-2 gap-4">
          <div class="p-6 rounded-lg bg-blackMedium">
            <ul class="space-y-2">
              {{#each results}}
              <li data-handler="browse" data-books="{{ this.books }}" class="text-lg font-medium text-gray-500">
                {{ this.title }}
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="p-6 rounded-lg bg-blackMedium" data-container="browse">
            <h2 class="max-w-xs mx-auto text-3xl font-bold text-center text-gray-500">
              Choose a film to see books &amp; articles that reference it
            </h2>
          </div>
        </div>
      </section>
    </main>
    {{> global/mainFooter }}
    {{> global/scripts }}
  </body>
</html>
