<!DOCTYPE html>
<html>
  {{> global/head }}
  <body>
    {{> global/mainNavigation }}

    <main class="mt-4 lg:mt-10">
        {{#ifEqual status 400 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">Bad Request Error</h2>
                <p class="text-lg text-gray-100">This link has been eaten by zombies.</p>
                <img src="/public/img/zombies.jpg" alt="Female zombie" width="700" class="mx-auto">
                <p class="text-lg text-gray-100">Try another search in the quick search bar above, <br> or give our <a href="/search" class="text-primaryOrange hover:text-primaryOrangeDark">advanced search</a> feature a try.</p>
            </section>
        {{/ifEqual}}

        {{#ifEqual status 404 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">Page Not Found</h2>
                <p class="text-lg text-gray-100">This link has been eaten by zombies.</p>
                <img src="/public/img/zombies.jpg" alt="Female zombie" width="700" class="mx-auto">
                <p class="text-lg text-gray-100">Try another search in the quick search bar above, <br> or give our <a href="/search" class="text-primaryOrange hover:text-primaryOrangeDark">advanced search</a> feature a try.</p>
            </section>
        {{/ifEqual}}

        {{#ifEqual status 500 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">Internal Server Error</h2>
                <p class="text-lg text-gray-100">This link has been eaten by zombies.</p>
                <img src="/public/img/zombies.jpg" alt="Female zombie" width="700" class="mx-auto">
                <p class="text-lg text-gray-100">Try another search in the quick search bar above, <br> or give our <a href="/search" class="text-primaryOrange hover:text-primaryOrangeDark">advanced search</a> feature a try.</p>
            </section>
        {{/ifEqual}}
    </main>
    {{> global/scripts }}
  </body>
</html>
