<!DOCTYPE html>
<html>
  {{> global/head }}
  <body>
    {{> global/mainNavigation }}

    <main class="mt-4 lg:mt-10">
        {{#ifEqual status 400 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">We couldn't find any results for your query!</h2>
                <p class="text-lg text-gray-100">Please try another in the quick search bar above, or give our <a href="/search" class="text-primaryOrange hover:text-primaryOrangeDark">advanced search</a> feature a try.</p>
            </section>
        {{/ifEqual}}

        {{#ifEqual status 404 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">We couldn't find any results for your query!</h2>
                <p class="text-lg text-gray-100">Please try another in the quick search bar above, or give our <a href="/search" class="text-primaryOrange hover:text-primaryOrangeDark">advanced search</a> feature a try.</p>
            </section>
        {{/ifEqual}}

        {{#ifEqual status 500 }}
            <section class="space-y-4 text-center">
                <h2 class="text-3xl text-white">Internal Server Error</h2>
                <p class="text-lg text-gray-100">Shit is haxxxed, dawg!</p>
            </section>
        {{/ifEqual}}
    </main>
    {{> global/scripts }}
  </body>
</html>
