<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> global/mainNavigation }}

    <main class="space-y-32">
      <!-- Hero -->
      <section class="">
        <img src="/public/img/homepage-hero.jpg" alt="Professor Lupe Lex in his study chamber" />
      </section>
      <!-- Intro -->
      <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-5xl font-black text-gray-100">
          Welcome to Horror Lex, <br />
          the Home of <span class="text-primaryRed">Academic Horror</span>
        </h1>
        <div class="items-center grid-cols-2 gap-12 md:grid">
          <div class="col-span-1 prose-lg text-white">
            <p>
              Horror Lex is a searchable database of academic and other serious writings about horror and
              horror-adjacent cinema, compiled under the guidance of Professor Lupe Lex, PhD, S.L.W.
            </p>
            <p>
              Professor Lex has hand-picked nearly 10,000 books and articles spanning a century of horror film
              scholarship, much of which is open access and peer-reviewed.
            </p>
            <p>
              While horror movie blogs are a dime a dozen, and library catalogs are hit or miss, Horror Lex has curated
              a collection of quality writings on horror cinema suitable for serious scholars and the intellectually
              curious.
            </p>
          </div>
          <div class="col-span-1 justify-self-center">
            <img src="/public/img/intro.png" alt="Introducing Professor Lupe Lex" />
          </div>
        </div>
      </section>
      <!-- Search Database -->
      <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="items-center grid-cols-2 gap-12 md:grid">
          <div class="col-span-1 justify-self-center">
            <img src="/public/img/about.png" alt="Introducing Professor Lupe Lex" />
          </div>
          <div class="col-span-1 prose-lg text-white">
            <h2 class="font-bold hasChillUnderline">Search Our Robust Database</h2>
            <p>Use the Quick Search box for an instant view of what Horror Lex can show you.</p>
            {{> ui/ctaBtn link='#mainNav' text='Quick Search' }}
            <p>
              Or, click on Advanced Search to filter based on publication title, journal title, author, keyword, date,
              film, etc.
            </p>
            {{> ui/ctaBtn link='/search' text='Advanced Search' }}
          </div>
        </div>
      </section>
      <!-- Browse Collection -->
      <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="items-center grid-cols-2 gap-12 md:grid">
          <div class="col-span-1 prose-lg text-white">
            <h2 class="font-bold hasChillUnderline">Browse the Collection</h2>
            <p>
              Not sure where to start? Get inspiration by using the Browse button to peruse Horror Lex's 4,500 indexed
              films or keywords.
            </p>
            {{> ui/ctaBtn link='/browse' text='Browse' }}
          </div>
          <div class="col-span-1 justify-self-center">
            <img src="/public/img/browse.png" alt="Introducing Professor Lupe Lex" />
          </div>
        </div>
      </section>
      <!-- Learn More -->
      <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="items-center grid-cols-2 gap-12 md:grid">
          <div class="col-span-1 justify-self-center">
            <img src="/public/img/learn-more.png" alt="Introducing Professor Lupe Lex" />
          </div>
          <div class="col-span-1 prose-lg text-white">
            <h2 class="font-bold hasChillUnderline">Learn More about Horror Lex</h2>
            <p>Not sure how this all works, or have a question about Horror Lex's database? Click About.</p>
            {{> ui/ctaBtn link='/about' text='About' }}
            <p>Want to ask Professor Lex a question? Click Contact.</p>
            {{> ui/ctaBtn link='/contact' text='Contact' }}
          </div>
        </div>
      </section>
    </main>

    {{> global/mainFooter }}

    {{> script }}
  </body>
</html>
