<!DOCTYPE html>
<html>
{{> head }}
<body>
  <h1 class="text-lg">Hello, Dawg</h1>
  <ul>
    {{#each data.books }}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
  <script src="/public/bundle.js"></script>
</body>
</html>
