<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> global/mainNavigation }}

    <main>
      <section class="mt-24 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
          <h1 class="text-white font-bold text-2xl">{{ document.title }}</h1>
          <p>{{ document.author }}</p>
          <p>{{ document.horrorLexSummary }}</p>
        </div>
      </section>
      <section class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-6">
          {{#each documents }}
            {{> ui/resultCard this }}
          {{/each}}
        </div>
      </section>
    </main>

    {{> global/mainFooter }}

    {{> script }}
  </body>
</html>
