<div class="relative mb-2 bg-primaryOrange">
  <div class="px-3 py-3 mx-auto wrapper">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-white">
        <span class="md:hidden"> Welcome to the Horror Lex Beta! </span>
        <span class="hidden md:inline"> Welcome to the Horror Lex Beta! </span>
        <span class="block sm:ml-2 sm:inline-block">
          <a href="/about" class="font-bold text-white underline">
            Learn more
            <span aria-hidden="true">&rarr;</span></a>
        </span>
      </p>
    </div>
  </div>
</div>
