<div data-handler="browseCard">
  {{#each results }}
    <p>{{ this.title }}</p>
    <p>Tags</p>
    <ul>
    {{#each this.tags }}
      <li>{{ this}}</li>
    {{/each }}
    </ul>
    <a href="/{{ this.slug }}">View Book</a>
  {{/each }}
</div>
