<span class="inline-flex rounded-md shadow-sm">
  <a href="{{ link }}">
    <button
      type="button"
      class="inline-flex items-center px-8 py-2 text-lg font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md bg-primaryOrange hover:bg-primaryOrangeDark focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700"
    >
      {{ text }}
    </button>
  </a>
</span>
