<aside class="p-8">
    <h3>"Evil" Arabs in American Popular Film: Orientalist Fear</h3>
    <p>Semmerline, Tim Jon</p>
    <div class="grid gap-4 grid-cols-12">
        <div class="col-span-4 flex flex-col items-start">
            <h4>Year</h4>
            <p></p>
        </div>
        <div class="col-span-4 flex flex-col items-start">
            <h4>Original Publisher</h4>
            <p>University of Texas Press</p>
        </div>
        <div class="col-span-4 flex flex-col items-start">
            <h4>Updated Edition</h4>
            <p>University of Texas Press</p>
        </div>
    </div>
    <hr>
    <footer>
        <a href="#" class="block pt-4">Full Details</a>
    </footer>
</aside>